<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>tll login</display-name>
  <description>Provides webapp login functionality GWT style.</description>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tll.server.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login/login</url-pattern>
    <url-pattern>/Login/pr</url-pattern><!-- password reset -->
    <url-pattern>/Login/snp</url-pattern><!-- set new passoword -->
    <url-pattern>/Login/app</url-pattern><!-- simulated app entrypoint (redirect upon login success) -->
  </servlet-mapping>

</web-app>